


ul, li, body, html, figure, figcaption, h1, section {
  border: 0px;
  margin: 0px;
  padding: 0px;

  text-align: inherit;
  font: inherit;
}

ul {
  list-style: none;
}

clearfix::after{
  clear: both;
  content: "";
  display: block;
}

.minesweeper-game {
  margin: 30px auto;
  border: 1px solid black;
  width: 500px;
  height: 500px;
}

h1 {
  font-size: 36px;
}

body {
  font-family: sans-serif;
  text-align: center;
  margin: 30px auto;
}

li {
  border: 1px solid gray;
  border-right: 1px solid #353535;
  border-bottom: 1px solid #353535;
  height: 18px;
  width: 18px;
  cursor: pointer;
  background: gray;
  float: left;
}

li:hover {
  background: darkgray;
}

.flagged {
  color: red;
}
.flagged:after {
  content: "x";
}

.frozen li{
  cursor: default;
}

.frozen li:hover{
  background: gray;
}

.revealed {
  cursor: default;
  color: black;
  background-color: white;
}

.revealed:hover {
  background-color: white;
}

.revealed:after {
  content: "r";
}
